<!DOCTYPE html>
<html lang="en" ng-app="myTestInteractiveApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello AngularJS</title>
        
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.js"></script>
    <script src="interactive.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container" ng-controller='Interact'>
    <div class="row">
        <div id="user_list" class="col-md-6">
                <p class="lead">Users:</p>
                <table class="table table-striped table-hover">
                    <tr ng-repeat="user in data.users"  ng-click="setUser(user.user_id);"><td> <a href="#">{{user.name}}</a> </td></tr>
                </table> 
        </div>

        <div id="rec" class="col-md-6">
            <div ng-show="data.current_user != null" data-spy="affix" data-offset="60" style="position: fixed; width: 42%;">
                <p class="lead">Recommendations for {{ data.current_user }}:</p>
                <table class="table table-striped table-bordered table-condensed">
                    <tr ng-repeat="rec in data.recs"><td> {{rec.business_id}} </td></tr>
                </table>
            </div> 
        </div>
        
        
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
  </body>
</html>
